<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Blog teste</title>
</head>
<body>
    <div>
        <h1><a href=" "> O Blog teste</a></h1>
    </div>
    <div>
        <p> projeto feito com o intuito de aprender django.  </p>
        <p>publicado em 06.04.2022</p>
    </div>
    <div>
        <h2><a href=""> Área dos posts :)</a></h2>
        <p>poste aqui o que você quiser</p>
    </div>
    <div>
        <h3>Primeiro post</h3>
        <p>bla bla bla bla</p>
         <p>publicado em 06.04.2022 às 8:48</p>
    </div>
</body>
</html>